## USE PYTHON'S PANDAS AND NUMPY LIBRARIES

### Write the code to import data

### List Out all columns of dataset

### Print shape of dataset

### Print  Number of Null values in each input variable

### Convert Date-time values of Start_date and end_date to date-time format of pandas

### Select START*,STOP*,MILES* Columns

### Select START* ,STOP* Locations which have distance above 60 Miles

### Select the record which is having start location as NewYork

### Select the records which have Miles value above 10 and Start  location as 'cary' or'Morrisville'

### Sort dataset based on Miles values

### Create a new column which takes values 'shorttrip' for records having Miles value less than 10 and 'LongTrip' for records having Miles value greater than 50 and 'MediumTrip' for records having miles value greater than 60

### extract records which are having START* location as 'Agnew' and STOP* location as 'Renaissance'

### print Minimum ,Maximum, Mean value for Miles* Column for each START* location

### Extract the Records which have CATEGORY* column value as 'Bussiness'

### Extract the Records which have PURPOSE* column value as 'Meeting'